<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confucius</title>

        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <nav>
            <div><a href="/">Confucius</a></div>
            <div><a href="/philosophy">Philosophy</a><a href="/teachings">Teachings</a><a href="/quotes">Quotes
                </a>
                <a href="/legacy">Legacy</a>
            </div>
        </nav>

        <section>
            <div id="wrapper"></div>
            <p id="morality">Morality</p>
            <p id="relationships">Social relationships</p>
            <p id="justice">Justice</p>
            <p id="kindness">Kindness</p>
            <p id="sincerity">Sincerity</p>
        </section>

    </body>

</html>