<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confucius</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <nav>
            <div><a href="/">Confucius</a></div>
            <div><a href="/philosophy">Philosophy</a><a href="/teachings">Teachings</a><a href="/quotes">Quotes
                </a>
                <a href="/legacy">Legacy</a>
            </div>
        </nav>

        <section id="legacySection">
            <div id="wrapper"></div>

            <h3>Confucius is one of the most influential thinkers in Chinese history, and his legacy has had a profound
                impact on
                Chinese culture, philosophy, and politics. Some of the key aspects of his legacy include:</h3>

            <div>
                <p>Confucius was a remarkable thinker whose ideas have had a profound impact on Chinese culture and
                    society.
                </p>
            </div>
            <div>
                <p>His teachings emphasized the importance of morality, ethics, and virtue in personal and social life.
                </p>
            </div>
            <div>
                <p>He believed that education was essential for personal growth and social development, and he advocated
                    for wise and
                    virtuous leadership that prioritized the needs of the people.
                </p>
            </div>
            <div>
                <p>Confucius was also a master of language and rhetoric, and his influence on Chinese literature and
                    language is still
                    evident today.
                </p>
            </div>
            <div>
                <p>His ideas on social harmony and community have played a significant role in shaping Chinese culture
                    and society for more
                    than two thousand years.
                </p>
            </div>
        </section>
    </body>

</html>