<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confucius</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <nav>
            <div><a href="/">Confucius</a></div>
            <div><a href="/philosophy">Philosophy</a><a href="/teachings">Teachings</a><a href="/quotes">Quotes
                </a>
                <a href="/legacy">Legacy</a>
            </div>
        </nav>
        <div id="philosophyWrapper"></div>
        <div id="philosophyDiv">

            <h1>Philosophy</h1>
            <p>The philosophy of Confucius, also known as Confucianism, emphasizes moral cultivation and
                political ethics. He believed that through self-improvement and the establishment of social order, a
                harmonious society and individual happiness can be achieved. Confucius emphasized the
                importance of cultivating virtues such as benevolence, justice, and filial piety, as well as the
                practice
                of ritual and the pursuit of knowledge. His teachings have had a profound impact on East Asian
                culture and continue to influence modern Chinese society.</p>
        </div>
    </body>

</html>