<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confucius</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <nav>
            <div><a href="/">Confucius</a></div>
            <div><a href="/philosophy">Philosophy</a><a href="/teachings">Teachings</a><a href="/quotes">Quotes
                </a>
                <a href="/legacy">Legacy</a>
            </div>
        </nav>

        <section id="quotesSection">
            <div id="teachingsWrapper"></div>
            <div>
                <p>"It does not matter how slowly you go as long as you do not stop."</p>
            </div>
            <div>
                <p>"Wheresoever you go, go with all your heart."
                </p>
            </div>
            <div>
                <p>"It does not matter how talented a man is if he does not have the willpower to finish what he has
                    started."
                </p>
            </div>
            <div>
                <p>"The man who moves a mountain begins by carrying away small stones."
                </p>
            </div>
            <div>
                <p>"Life is really simple, but we insist on making it complicated."
                </p>
            </div>
            <div>
                <p>"Success depends upon previous preparation, and without such preparation, there is sure to be
                    failure."
                </p>
            </div>
            <div>
                <p>"Study the past if you would define the future."
                </p>
            </div>
            <div>
                <p>"Everything has beauty, but not everyone sees it."
                </p>
            </div>
            <div>
                <p>"Silence is a true friend who never betrays."
                </p>
            </div>
            <div>
                <p>"Choose a job you love, and you will never have to work a day in your life."
                </p>
            </div>
        </section>
    </body>

</html>