<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confucius</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>

    <body>
        <nav>
            <div><a href="/">Confucius</a></div>
            <div><a href="/philosophy">Philosophy</a><a href="/teachings">Teachings</a><a href="/quotes">Quotes
                </a>
                <a href="/legacy">Legacy</a>
            </div>
        </nav>

        <article>
            <div id="teachingsWrapper"></div>
            <h1>The Teachings of Confucius</h1>

            <div class="teachingsDivs">
                <h2>Ren - Benevolence
                </h2>
                <p>Confucius believed that the most important virtue was benevolence, or ren. This meant treating others
                    with kindness, respect, and compassion.</p>
            </div>
            <div class="teachingsDivs">
                <h2>Li - Proper Conduct</h2>
                <p>Confucius believed that proper conduct, or li, was essential for maintaining social harmony. This
                    involved following the rules of etiquette, showing respect for elders and authority figures, and
                    behaving with propriety
                    in all situations.</p>
            </div>
            <div class="teachingsDivs">
                <h2>Zhong - Loyalty</h2>
                <p>Confucius taught that loyalty, or zhong, was important for building strong relationships and
                    maintaining social order. This meant being faithful to one's family, friends, and rulers.</p>
            </div>
            <div class="teachingsDivs">
                <h2>Xiao - Filial Piety</h2>
                <p>Confucius emphasized the importance of filial piety, or xiao, which meant showing respect and
                    obedience to one's parents and ancestors.</p>
            </div>
            <div class="teachingsDivs">
                <h2>Junzi - The Gentleman</h2>
                <p>Confucius believed that the ideal person, or junzi, was someone who embodied all of these virtues
                    and was committed to self-improvement, learning, and personal development.</p>
            </div>
            <div class="teachingsDivs">
                <h2>Education
                </h2>
                <p>Confucius emphasized the importance of education and self-cultivation. He believed that individuals
                    could
                    improve themselves through study, reflection, and practice.</p>
            </div>

        </article>
    </body>

</html>