body,
html {
	margin: 0;
	background-color: black;
	overflow: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to left, #08254f, #763573, #d44968, #ff8a3a, #ebe112);
	height: 5.5vh;
	margin: 0;
}

a {
	text-decoration: none;
}

nav div {
	margin: 0 1vw;
}

nav div a {
	color: white;
	margin: 0 0.5vw;
	font-size: 1.5em;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	width: 100vw;
	height: 100vh;
	background-image: url('../images/confucius.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

section p {
	color: white;
	position: relative;
	font-size: 3em;
	font-style: oblique;
	margin: 0;
	font-weight: 600;
}

article {
	background-image: url('../images/teachings.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
	height: 100vh;
	position: relative;
	font-size: large;
}

#morality {
	left: 10vw;
	top: 10vh;
	z-index: 1;
}

#relationships {
	left: 25vw;
	top: 15vh;
	z-index: 1;
}

#justice {
	left: 50vw;
	top: 30vh;
	z-index: 1;
}

#kindness {
	left: 65vw;
	top: 10vh;
	z-index: 1;
}

#sincerity {
	left: 80vw;
	top: 5vh;
	z-index: 1;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.6;
}
#teachingsWrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.75;
}

article h1 {
	position: relative;
	z-index: 2;
	text-align: center;
	margin: 0;
	font-size: 2.5em;
	padding-top: 2vh;
	font-weight: 400;
}
.teachingsDivs {
	z-index: 2;
	position: relative;
	margin-left: 3vw;
	text-align: justify;
	width: 60vw;
	font-weight: 500;
}

#philosophyDiv {
	color: white;
	background-image: url('../images/philosophy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

#philosophyDiv h1 {
	margin-bottom: 25vh;
	font-size: 3em;
	font-weight: 400;
}

#philosophyDiv * {
	z-index: 1;
	position: relative;
	font-size: xx-large;
	width: 75vw;
}

h1 {
	margin: 0;
	text-align: center;
}

#philosophyWrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.7;
}

#quotesSection {
	background-image: url('../images/quotes.jpeg');
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#quotesSection div p {
	position: relative;
	z-index: 1;
	font-size: 1.5em;
	margin: 2.5vh 2.5vw;
	width: 50vw;
	font-style: italic;
}
