body,
html {
	margin: 0;
	background-color: black;
	overflow: hidden;
	cursor: default;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to left, #08254f, #763573, #d44968, #ff8a3a, #ebb812);
	height: 5.5vh;
	margin: 0;
}

a {
	text-decoration: none;
}

nav div {
	margin: 0 1vw;
}

nav div a {
	color: white;
	margin: 0 0.5vw;
	font-size: 1.5em;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	width: 100vw;
	height: 100vh;
	background-image: url('../images/confucius.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

section p {
	color: white;
	position: relative;
	font-size: 5em;
	font-style: italic;
	margin: 0;
	font-weight: 200;
}

article {
	background-image: url('../images/teachings.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
	height: 100vh;
	position: relative;
}

article p {
	font-size: 1.3em;
	font-weight: 400;
	font-style: italic;
}

article h2 {
	font-weight: 500;
	font-size: 1.65em;
}

#morality {
	left: 2vw;
	top: 5vh;
	z-index: 1;
}

#justice {
	left: 40vw;
	top: 25vh;
	z-index: 1;
}

#kindness {
	left: 10vw;
	top: 40vh;
	z-index: 1;
}

#sincerity {
	left: 75vw;
	top: 20vh;
	z-index: 1;
}

#relationships {
	left: 60vw;
	top: 5vh;
	z-index: 1;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.7;
}
#teachingsWrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.85;
}

article h1 {
	position: relative;
	z-index: 2;
	text-align: center;
	margin: 0;
	font-size: 2.5em;
	padding-top: 3.5vh;
	font-weight: 400;
}
.teachingsDivs {
	z-index: 2;
	position: relative;
	margin-left: 5vw;
	text-align: justify;
	width: 60vw;
	font-weight: 500;
}

#philosophyDiv {
	color: white;
	background-image: url('../images/philosophy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-style: italic;
	text-align: justify;
}

#philosophyDiv h1 {
	margin-bottom: 25vh;
	margin-top: 2vh;
	font-size: 3em;
	font-weight: 400;
	font-style: normal;
}

#philosophyDiv * {
	z-index: 1;
	position: relative;
	font-size: xx-large;
	width: 75vw;
}

h1 {
	margin: 0;
	text-align: center;
}

#philosophyWrapper {
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1;
	position: absolute;
	opacity: 0.8;
}

#quotesSection {
	background-image: url('../images/quotes.jpeg');
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#quotesSection div p {
	position: relative;
	z-index: 1;
	font-size: 1.5em;
	margin: 2.5vh 2.5vw;
	width: 50vw;
	font-style: italic;
	font-weight: 400;
}

#legacySection {
	background-image: url('../images/legacy.jpg');
	color: white;
	display: flex;
	flex-direction: column;
}

#legacySection p,
#legacySection h3 {
	position: relative;
	z-index: 1;
}

#legacySection p {
	font-size: 1.75em;

	margin-left: 5vw;
	margin-top: 10vh;
}
#legacySection h3 {
	margin: 0;
	font-size: 2em;
	text-align: center;
	padding-top: 3vh;
	font-weight: 400;
}
